body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange_color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.blog1{
    width: 50%;
    padding-left: 5%;
}
.blog1 img{
    width: 77%;
}
.text-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.blog1 img{
    width: 100%;
}
.blog1{
    padding-left: 5%;
}
.button2{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 12px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 800;
}
.section2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.color-orange{
    color: orange;
}
.section3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.blog3{
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    width: 40%;
    box-shadow: 10px 10px 40px grey;
    border-left: 10px solid;
}
#mmd{
    border-image: linear-gradient(blue, cyan);
    border-left: 7px solid;
    border-image-slice: 1;
}
#mm{
    border-image: linear-gradient(salmon, tomato);
    border-left: 7px solid;
    border-image-slice: 1;
}
footer p{
    text-align:center;
}